{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% render_table pivot_table %}
{% block title %}Lista de Tarefas{% endblock %}
{% load django_tables2 %}


{% block content %}
<head>
<style>
table th{
background: rgb(61,164,166);
background: linear-gradient(0deg, rgba(61,164,166,1) 0%, rgba(31,198,190,1) 100%);
padding: 2px;
font-family: arial;
font-size: 120%;
color: white;
border:2px solid white;
text-align:center !important;}

tr {
padding: 2px;
font-family: arial;
font-size: 80%;
border:2px solid white;
text-align:center !important;}

</style>
</head>
<div class="offset-1 col-10 list-div">
    <h1>{{budget.name}}</h1>
    <p>{{budget.description}}</p>
    <div style="overflow-x:auto;">
        {{ newdf2 | safe }}
        {{ stacked2 | safe }}
    </div>
</div>
{% endblock %}




            



        
        <!--
        <table class ="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">LANCAMENTO</th>
                    <th class="text-center">LANCAMENTO</th>
                    <th class="text-center">LANCAMENTO</th>
                </tr>
            </thead>
           
            {% for i in pivot_table %}
                <tr>
                    <td class="align-middle" align="center">{{ i.lancamento_ }}</td>
                    <td class="align-middle">{{ i.month__name }}</td>
                    <td class="align-middle">{{ i.month__name }}</td>
                    <td class="align-middle" align="center">{{ i.amount }}</td>
                </tr>  
            {% endfor %}
       
        </table>            -->

